.1_3 { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}.e1_3 { 
	background-color:rgba(249.00000035762787, 247.00000047683716, 201.00000321865082, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e1_8 { 
	background-color:rgba(128.0000075697899, 188.0000039935112, 189.00000393390656, 1);
	width:1440px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_11 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(170.0000050663948, 217.0000022649765, 187.00000405311584, 1);
	width:1124px;
	height:183px;
	position:absolute;
	left:154px;
	top:329px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e1_13 { 
	color:rgba(0, 0, 0, 1);
	width:598px;
	height:71px;
	position:absolute;
	left:421px;
	top:65px;
	font-family:Just Another Hand;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
}.e16_17 { 
	width:200px;
	height:200px;
	position:absolute;
	left:24px;
	top:632px;
}.e8_2 { 
	border-radius:500px;
	background-color:rgba(170.0000050663948, 217.0000022649765, 187.00000405311584, 1);
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}.e16_16 { 
	width:160px;
	height:160px;
	position:absolute;
	left:15px;
	top:20px;
	background-image:url(images/noche_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16_18 { 
	width:200px;
	height:200px;
	position:absolute;
	left:320px;
	top:641px;
}.e8_3 { 
	border-radius:500px;
	background-color:rgba(170.0000050663948, 217.0000022649765, 187.00000405311584, 1);
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_5 { 
	width:120px;
	height:141.6774139404297px;
	position:absolute;
	left:29px;
	top:29px;
	background-image:url(images/brillo_y_contraste_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16_15 { 
	width:200px;
	height:200px;
	position:absolute;
	left:616px;
	top:641px;
}.e8_5 { 
	border-radius:500px;
	background-color:rgba(170.0000050663948, 217.0000022649765, 187.00000405311584, 1);
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_6 { 
	width:150px;
	height:150px;
	position:absolute;
	left:25px;
	top:25px;
	background-image:url(images/modo_oscuro_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16_14 { 
	width:200px;
	height:200px;
	position:absolute;
	left:912px;
	top:641px;
}.e8_7 { 
	border-radius:500px;
	background-color:rgba(170.0000050663948, 217.0000022649765, 187.00000405311584, 1);
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_4 { 
	width:120px;
	height:151.15383911132812px;
	position:absolute;
	left:40px;
	top:24px;
	background-image:url(images/fondo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e8_11 { 
	width:200px;
	height:200px;
	position:absolute;
	left:1208px;
	top:641px;
}.e8_9 { 
	border-radius:500px;
	background-color:rgba(170.0000050663948, 217.0000022649765, 187.00000405311584, 1);
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}.e16_7 { 
	width:150px;
	height:150px;
	position:absolute;
	left:34px;
	top:13px;
	background-image:url(images/escritura_creativa_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}